%font-inika {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
}

%font-inika-regular {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
}

%font-inter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

%font-inter-regular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

%media-link {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    background-size: cover;
}

