$color-green: #499A18;
$color-green-light: #EDF2EC;
$color-orange: #E06733;
$color-black: #010201;
$color-light-gray: #717171;
$color-gray: #636060;
$color-white: #FFFFFF;
$color-biege: #E3E1D5;
$color-midle-green: #D6E7D2;

// $laptop-width: 115rem; 
// $tablet-width:
// $mobile-width: 
// $mobile-small-width: