.button-welcome {
    @extend %font-inter-regular;
    @include font($color: $color-black, $height: 2rem, $size: 1.6rem);
    text-align: center;
    max-width: 15.8rem;
    width: 100%;
    height: 4.4rem;
    border-radius: 1rem;
    border: 0.2rem solid $color-orange;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: $color-orange;
        color: $color-white;
    }
    @include media-mobile {
        @include font($color: $color-black, $height: 2rem, $size: 1rem);
        max-width: 10rem;
        height: 3.4rem;
    }
}

.button {
    @extend %font-inika-regular;
    @include font($color: $color-orange, $height: normal, $size: 2rem);
    position: relative;
    width: 16.1rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid $color-orange;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: $color-orange;
        color: $color-white;
    }
    @include media-mobile {
        @include font($color: $color-orange, $height: normal, $size: 1.5rem);
        width: 12.1rem;
        height: 3.5rem; 
    }
}
.button_active {
    background-color: $color-orange;
    color: $color-white;
    filter: drop-shadow(0 0 0);
}

.dropdown-button {
    overflow: hidden;
    padding-top: 1.5rem;
    max-width: 25rem;
    width: 100%;
    height: 5rem;
    border-radius: 2rem;
    cursor: pointer;
    justify-content: space-evenly;
    background-color: $color-green-light;
    transition: 0.2s;
    &_opened {
        height: 15.4rem;
        background-color: $color-midle-green;
    }
    @include media-mobile {
        max-width: 18rem;
        justify-content: flex-start;
        &_opened {
            height: 16rem;
    }
}
    .dropdown-button__content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 17.2rem;
        width: 100%;

        @include media-mobile {
            margin-right: 3.8rem;
            max-width: 11rem;
        }
    }
    .dropdown-button__title {
        @extend %font-inter;
        @include font($color: $color-black, $height: 2rem, $size: 2rem);
        @include media-mobile {
            @include font($color: $color-black, $height: 2rem, $size: 1.5rem);
        }
    }

    .dropdown-button__image {
        width: 1.6rem;
        height: 1.6rem;
        background-image: url('./images/prices/accordion_btn.png');
        background-size: cover;
        transition: 0.2s;
        &_rotated {
            background-image: url('./images/prices/accordion_btn1.png');
        }
    }

    .dropdown-button__addition-content {
        margin: 1.5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        max-width: 17rem;
        width: 100%;
        height: 9.6rem;
        border-top: 1px solid $color-border-gray;
        @include media-mobile {
            padding-top: 0.1rem;
            height: 7rem;
            max-width: 17rem;
        }
    }

    .dropdown-button__discription{
        @extend %font-inter-regular;
        @include font($color: $color-light-gray, $height: 1rem, $size: 1rem);
        font-weight: 300;
        @include media-mobile {
            @include font($color: $color-light-gray, $height: 0.8rem, $size: 0.8rem);
        }
       
    }
    .dropdown-button__price{
        @extend %font-inter-regular;
        @include font($color: $color-black, $height: 2rem, $size: 1.2rem);
        span {
            @extend %font-inter;
            @include font($color: $color-orange, $height: 2rem, $size: 1.6rem);
        }
    }
}

.price-button {
    @extend %font-inter;
    @include font($color: $color-orange, $height: 2rem, $size: 1.4rem);
    text-decoration: none;
    text-align: center;
    max-width: 8.6rem;
    width: 100%;
    height: 25px;
    border-radius: 10rem;
    border: 0rem;
    background: $color-white;
    color: $color-light-gray;
}