.contact-us {
    display: flex;
    align-items:flex-end;
    height: 55rem;
    background-color: $color-green-light;
    @include media-laptop {
        height: 73.9rem;
    }
    .contact-us__body {
        display: flex;
        justify-content: space-between;
        height: 49.7rem;
        @include media-laptop {
            flex-direction: column;
            align-items: center;
            height: 70rem;
        }
        
    }
    .contact-us__image {
        align-self: flex-end;
        max-width: 40rem;
        min-width: 30rem;
        width: 100%;
        @include media-laptop {
            align-self: center;
            max-width: 20rem;
            min-width: 15rem;
            margin-left: 2rem;
        }
    }
    .contact-us__content {
        display: flex;
        justify-content: space-between;
        max-width: 70.9rem;
        min-width: 60rem;
        width: 100%;
        height: 13.8rem;
        margin-top: 0.8rem;
        @include media-laptop {
            flex-direction: column;
            align-items: center;
            order: -1;
            max-width: 45rem;
            height: 20.1rem;
            margin-top: 0;
        }
    }
    .contact-us__title {
        min-width: 19.5rem;
        @extend %font-inika;
        font-size: 4rem;
    }
    .contact-us__botton{
        align-self: flex-end;
        display: flex;
        align-items: center;
        max-width: 45rem;
        min-width: 40rem;
        width: 100%;
        height: 5rem; 
        background: $color-midle-green;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @include media-laptop {
            align-self: center;
        }
    }
    .contact-us__button-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 2rem;
        max-width: 39.5rem;
        width: 100%;
    }
    .contact-us__button-name {
        @extend %font-inter-regular;
        @include font($color: $color-light-gray, $height: 4rem, $size: 2rem);
        letter-spacing: 1px;
    }
}