.footer {
    display: flex;
    align-items: center;
    height: 13rem;
    background-color: $color-white;
    @include media-laptop {
        align-items: flex-start;
        height: 18.1rem;
        padding-top: 3.3rem;
    }
    @include media-mobile {
        height: 14.6rem;
        padding-top: 2.2rem;
    }
    .footer__body{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
        @include media-laptop {
            flex-direction: column;
            align-items: center;
            height: 12.1rem;
        }
        @include media-mobile {
            height: 10.8rem;
        }
    }
    .footer__github {
        @extend %font-inter-regular;
        @include font($color: $color-black, $height: 5rem, $size: 2rem);
        display: flex;
        justify-content: space-between;
        align-self: center;
        max-width: 16.9rem;
        width: 100%;
        @include media-laptop {
            line-height: normal;
            margin-bottom: -0.7rem;
        }
        @include media-mobile {
            margin-bottom: 0.3rem;
        }
        a {
            color: $color-black;
            text-decoration: none;
        }
    }
    .footer__rss {
        @extend %font-inter-regular;
        @include font($color: $color-black, $height: 5rem, $size: 2rem);
        align-self: center;
        margin-left: 2rem;
        @include media-laptop {
            margin-left: 0;
            line-height: normal;
            padding: 0;
        }
        a {
            color: $color-black;
            text-decoration: none; 
        }
    }
    .footer__social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        max-width: 18.8rem;
        width: 100%;
    }
    .footer__instagram {
        @extend %media-link;
        background-image: url("./images/footer/inst.svg");
    }
    .footer__facebook {
        @extend %media-link;
        background-image: url("./images/footer/fb.svg");
    }
    .footer__twitter {
        @extend %media-link;
        background-image: url("./images/footer/tw.svg");
    }
    .footer__pinterest {
        @extend %media-link;
        background-image: url("./images/footer/pinterest.svg");
    }
}