.header {
    display: flex;
    align-items: center;
    height: 13.5rem;
    background-color: $color-green-light;
    @include media-laptop {
        height: 11.7rem;
    }
    @include media-mobile {
        height: 9.6rem;
    }
    .header__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    .header__burger {
        display: none;
        width: 4rem;
        height: 2.6rem;
        z-index: 3;
        background-image: url('./images/header/burger.svg');
        transition: 0.2s;
        @include media-mobile {
            display: block;
        }
        &_rotated {
            rotate: 90deg;
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    max-width: 7.92rem;
    width: 100%;
    .logo__text {
        @extend %font-inika-regular;
        @include font($color: $color-black, $size: 1.6rem, $height: normal);
    } 
    .logo__image {
        margin-bottom: 1rem;
    }
}