.welcome {
    display: flex;
    align-items: center;
    height: 53.2rem;
    background-color: $color-green-light;
    @include media-laptop {
        align-items: flex-start;
        padding-top: 4rem;;
        height: 42rem;
    }
    @include media-mobile {
        height: 30rem;
        padding-top: 2.6rem;;

    }
    .welcome__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .welcome__image {
        max-width: 46.3rem;
        width: 100%;
        height: 44.8rem;
        margin-top: -0.5rem;
        margin-left: -1.1rem;
        background-image: url("./images/welcome/leafs.svg");
        background-position: center;
        background-size: 100%100%;
        @include media-laptop {
            order: 1;
            align-self: flex-start;
            max-width: 29rem;
            height: 26.4rem;
            margin-left: 0rem;
        }
        @include media-mobile {
            display: none;
        }
     }
    .welcome__main {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
        max-width: 54.9rem;
        min-height: 34rem;
        height: auto;
        width: 100%;
        @include media-laptop{
            max-width: 34.6rem;
            min-height: 31rem;
        }
        @include media-mobile {
            max-width: 44.6rem;
            min-height: 25rem;
        }
    }
    .welcome__title {
        span {
            color: $color-green;
        }
    }
    .welcome__text {
        @extend %font-inter-regular;
        @include font($color: $color-light-gray, $height: 3.5rem, $size: 2rem);
        @include media-laptop {
            @include font($color: $color-light-gray, $height: 2.5rem, $size: 1.6rem);
            margin-left: 0.5rem;
        }
        @include media-mobile {
            margin-left: 0;
        }
    }
}

